@import url('./var.css');

.form_group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    overflow: hidden;
}

.form_group input[type='radio'] {
    display: none;
}

.form_group .label-radio1 {
    width: 10%;
    text-align: center;
    display: inline-block;
    color: red;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 100px 5px 5px 5px;
    padding: 0px 15px;
    line-height: 34px;
    font-size: 35px;
    border-right: none;
    user-select: none;
}

.form_group .label-radio2 {
    text-align: center;
    display: inline-block;
    width: 10%;
    height: 45px;
    text-align: center;
    align-items: center;
    color: darkturquoise;
    background-color: bisque;
    border-radius: 5px;
    margin: 100px 5px 5px 5px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    font-size: 35px;
    border-right: none;
    user-select: none;
    font-family: 'my font2';
}

.form_group .label-radio3 {
    display: inline-block;
    text-align: center;
    width: 10%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 100px 5px 5px 5px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    font-size: 35px;
    border-right: none;
    user-select: none;
    font-family: 'my font3';

}

.form_group .label-radio4 {
    display: inline-block;
    width: 10%;
    height: 45px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 100px 5px 5px 5px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    font-size: 35px;
    border-right: none;
    user-select: none;
    font-family: 'my font4';
}

/* Checked */
.form_group input[type='radio']:checked+.label-radio {
    box-shadow: 0px 0px 5px 1px #8f8f8f inset;
}

/* Hover */
.form_group label:hover {
    color: #ff0000;
}

/* Disabled */
.form_group input[type='radio']:disabled+.label-radio {
    background: #efefef;
    color: #666;
}